.outerSideBar {
  position: relative;
  height: 100%;
  width: 300px;
  left: 0;
  background: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  //   box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  .innerSideBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .MenuItems {
      .MuiList {
        &-root {
          width: 300px;
          // height: 400px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          font-family: "Poppins";
        }
      }
      .MuiMenuItem {
        &-root {
          padding-left: 40px;
          font-size: 20px;
          font-family: "Poppins";
          font-family: 500;

          a {
            text-decoration: none;
            color: black;
            display: flex;
            /* justify-content: center; */
            align-items: center;
          }
        }
        :hover {
          background-color: #9b59b6;
        }
        a {
          text-decoration: none;
          color: black;
          display: flex;
          /* justify-content: center; */
          align-items: center;
        }
      }
      .MuiSvgIcon {
        &-root {
          margin-right: 20px;
          font-size: 35px;
          transition: 0.5s;
        }
      }
      h4 {
        font-weight: 500;
      }
    }
    .active {
      color: #3742fa;
    }
  }
  .loggout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 700px;
    .MuiButton {
      &-root {
        font-size: 20px;
        font-weight: 600;
        font-family: "Poppins";
      }
    }
  }
}
