.circularProgress {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-right: 59px;
  padding-top: 40px;
  padding-right: 190px;
  padding-left: 190px;
}
.headerDark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-right: 190px;
  padding-left: 190px;
  background: black;
  color: white;
}
.outerStudentDashboard {
  // height: 100%;
  padding: 10px 50px 100px 190px;
  font-family: "Poppins";
  .innerStudentDashboard {
    display: flex;
    justify-content: space-between;
    width: 96%;
    .personalDetailDiv {
      span {
        color: #3742fa;
        margin-left: 5px;
      }
    }
    .BarChart {
      width: 500px;
    }
  }
  .Semesters {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    .semester {
      margin-top: 50px;
      width: 270px;
      height: 250px;
      margin-right: 60px;
      // transition: 0.8s;
      cursor: pointer;
      .MuiPaper {
        &-root {
          color: rgba(0, 0, 0, 0.87);
          transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          background-color: #fff;
          width: 270px;
          height: 250px;
          border-radius: 10px;
          transition: 0.8s;
          display: flex;
          flex-direction: column;
          font-family: "Poppins";
          justify-content: center;
          align-items: center21;
        }
      }
      :hover {
        background-color: #3742fa;
        color: white;
      }
      h2 {
        display: flex;
        justify-content: center;
      }
      p {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 5px 0;
        // height: 30px;
        span {
          font-weight: 700;
          margin-left: 5px;
        }
      }
    }
  }
}
.outerStudentDashboardDark {
  // height: 85%;
  padding: 10px 50px 100px 190px;
  font-family: "Poppins";
  background: black;
  color: white;
  .innerStudentDashboard {
    display: flex;
    justify-content: space-between;
    width: 96%;
    .personalDetailDiv {
      span {
        color: #3742fa;
        margin-left: 5px;
      }
    }
    .BarChart {
      width: 500px;
    }
  }
  .Semesters {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    .semester {
      margin-top: 50px;
      width: 270px;
      height: 250px;
      margin-right: 60px;
      // transition: 0.8s;
      cursor: pointer;
      .MuiPaper {
        &-root {
          color: rgba(0, 0, 0, 0.87);
          transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          background-color: #fff;
          width: 270px;
          height: 250px;
          border-radius: 10px;
          transition: 0.8s;
          display: flex;
          flex-direction: column;
          font-family: "Poppins";
          justify-content: center;
          align-items: center21;
        }
      }
      :hover {
        background-color: #3742fa;
        color: white;
      }
      h2 {
        display: flex;
        justify-content: center;
      }
      p {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 5px 0;
        // height: 30px;
        span {
          font-weight: 700;
          margin-left: 5px;
        }
      }
    }
  }
}

.studentSemesterDailogueBox {
  .MuiDialog {
    &-root {
      width: 1100px;
    }
  }
  .MuiDialog-paperScrollPaper {
    width: 1100px;
  }
}
